<mat-toolbar class="transparent" color="primary">
  <mat-toolbar-row>
    <!-- <button mat-button (click)="sidenav.toggle()"> -->
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <span color="primary">NextHaus</span>
    <mat-icon>account_balance_wallet</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>dialpad</mat-icon>
        <span>Last number dial</span>
      </button>
      <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>Agent login</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    <span class="example-spacer"></span>
    <button mat-icon-button color="primary" routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row color="primary" class="ajflexrow-container">
    <mat-button-toggle-group class="ajcat-button-label" style="display: flex; max-width: 40%;" [value]="searchType" [(ngModel)]="searchType">
      <mat-button-toggle value="Buy">Buy</mat-button-toggle>
      <mat-button-toggle value="Rent">Rent</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field class="ajinput-text" color="warn" style="margin:6px; max-width: 55%">
      <span matPrefix>S$:</span>
      <input type="number" matInput #searchStr="ngModel" [(ngModel)]="search" maxlength="10" placeholder="Your ({{searchType}}ing) limit price:"
        required>
      <mat-hint *ngIf="searchType=='Rent'" align="start">
        <strong>/mth</strong>
      </mat-hint>
      <!-- <mat-hint align="end">{{searchStr.value.length}} / 10</mat-hint> -->
      <mat-icon color="warn" *ngIf="searchStr.value" matSuffix (click)="search=''">close</mat-icon>
      <mat-icon color="accent" *ngIf="searchStr.value" matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-toolbar-row>
  <mat-toolbar-row class="ajflexrow-container ajinput-text">
    <mat-form-field class="ajflexrow-item">
      <mat-select style="text-align: center" [(value)]="typeOfProptySelected">
        <mat-option value="none">Type</mat-option>
        <mat-option value="hdb">Type: HDB</mat-option>
        <mat-option value="condo">Type: Condo</mat-option>
        <mat-option value="landed">Type: Landed</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ajflexrow-item">
      <mat-select style="text-align: center" [(value)]="districtSelected">
        <mat-option value="none">District</mat-option>
        <mat-option value="1">District 1</mat-option>
        <mat-option value="2">District 2</mat-option>
        <mat-option value="3">District 3</mat-option>
        <mat-option value="4">District 4</mat-option>
        <mat-option value="5">District 5</mat-option>
        <mat-option value="6">District 6</mat-option>
        <mat-option value="7">District 7</mat-option>
        <mat-option value="8">District 8</mat-option>
        <mat-option value="9">District 9</mat-option>
        <mat-option value="10">District 10</mat-option>
        <mat-option value="11">District 11</mat-option>
        <mat-option value="12">District 12</mat-option>
        <mat-option value="13">District 13</mat-option>
        <mat-option value="14">District 14</mat-option>
        <mat-option value="15">District 15</mat-option>
        <mat-option value="16">District 16</mat-option>
        <mat-option value="17">District 17</mat-option>
        <mat-option value="18">District 18</mat-option>
        <mat-option value="19">District 19</mat-option>
        <mat-option value="20">District 20</mat-option>
        <mat-option value="21">District 21</mat-option>
        <mat-option value="22">District 22</mat-option>
        <mat-option value="23">District 23</mat-option>
        <mat-option value="24">District 24</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ajflexrow-item">
      <mat-select style="text-align: center" [(value)]="bedrmsSelected">
        <mat-option value="none">BedRooms</mat-option>
        <mat-option value="1rm">1 BedRm / Studio</mat-option>
        <mat-option value="2rm">2 BedRms</mat-option>
        <mat-option value="3rm">3 BedRms</mat-option>
        <mat-option value="4rm">4 BedRms</mat-option>
        <mat-option value="5rm">5 BedRms / Penthouse</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>



<mat-card class="result">
  <mat-card-content>
    <h3 class="example-h2">Featured / New Projects
      <button style="font-size: 10px" mat-button color="primary" mattooltip="Go browse!" routerLink="/" (click)="backHome(searchStr.value)">
        <mat-icon>restore_page</mat-icon>BrowseAllListing</button>
    </h3>

    <slideshow #slideshow [height]="'130px'" [minHeight]="'25px'" [autoPlay]="true" [showArrows]="true" [imageUrls]="imageSources"
      [lazyLoad]="imageSources?.length > 1" [autoPlayWaitForLazyLoad]="false">
    </slideshow>

    <!--     <mat-list dense>
      <mat-list-item> Pepper </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
    </mat-list>



    <section class="example-section">
      <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
        Slide me!
      </mat-slide-toggle>
    </section>
 -->
    <!--     <div style="padding: 10px; border: 1px green solid; margin: 10px">
      <router-outlet></router-outlet>
    </div> -->
  </mat-card-content>
</mat-card>

<header>
  <h1>News</h1>
  <select id="sourceSelector">
  <!--   <option value="defaultSource">{{defaultSource}}</option> -->
  </select>
</header>

<main id="main">
</main>

<script src="app.js"></script>
